{% extends "base.html" %}
{% load staticfiles i18n %}
{% block content %}

    This is the filter page

<hr>
<h3>Integer Filter</h3>
<form name="float">
  FloatRange: <input type="number"> to <input type="number">
</form>
<hr>
<h3>Date Filter</h3>
<form name="date">
  From<input type="text" class="datepicker" name="start">
  To<input type="text" class="datepicker" name="end">
</form>
<hr>
<h3>String Fields</h3>
<form name="string">
  <input type="text" name="stringtype">
</form>
<hr>


{% endblock %}
