{% extends "base.html" %}
{% load staticfiles i18n %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/view.css' %}"/>


<div style="overflow-x:auto;">
    <table id="leadsTable" class="pageTable">
      <thead>
        <tr>
          {% for field, datatype in fielddata.iteritems %}
            {% if field == "id" %}
              <th class="{{ datatype }}">{{ field }}</th>
            {% endif %}
          {% endfor %}
          {% for field, datatype in fielddata.iteritems %}
            {% if field != "id" %}
              <th class="{{ datatype }}">{{ field }}</th>
            {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for lead in leads %}
          <tr>
            {% for field, datatype in fielddata.iteritems %}
              {% if field == "id" %}
                {% for key, value in lead.document.items %}
                  {% if field == key %}
                      <td class="{{ datatype }}">{{ value }}</td>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
            {% for field, datatype in fielddata.iteritems %}
              {% if field != "id" %}
                {% for key, value in lead.document.items %}
                  {% if field == key %}
                      <td class="{{ datatype }}">{{ value }}</td>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}
<hr>
<h1>Filter Table</h1>
