{% extends "base.html" %}
{% load staticfiles i18n %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/view.css' %}"/>


<div style="overflow-x:auto;">
    <table id="leadsTable" class="pageTable">
      <thead>
        <tr class="pageTable">
          {% for field, datatype in fielddata.iteritems %}
            {% if field == "id" %}
              <th class="pageTable">{{ field }}</th>
            {% endif %}
          {% endfor %}
          {% for field, datatype in fielddata.iteritems %}
            {% if field != "id" %}
              <th class="pageTable">{{ field }}</th>
            {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for lead in leads %}
          <tr class="pageTable">
            {% for field, datatype in fielddata.iteritems %}
              {% if field == "id" %}
                {% for key, value in lead.document.items %}
                  {% if field == key %}
                      <td class="pageTable"">{{ value }}</td>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
            {% for field, datatype in fielddata.iteritems %}
              {% if field != "id" %}
                {% for key, value in lead.document.items %}
                  {% if field == key %}
                      <td class="pageTable"">{{ value }}</td>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

<hr>
<!-------------------------------------------------------------------->
<!-------------------------------------------------------------------->
<table class="filtering">
  <form>

    {% if fieldtype.range %}
    <tr class="filtering">
      <td class="filtering" id="rangeForm">
        <table class="filterTable">
          <thead>
            <tr>
              <th class="filterTable filterrow1">Field Name</th>
              <th class="filterTable filterrow2" colspan="2">Field Filter Condition</th>
            </tr>
          </thead>
          {% for field, datatype in fielddata.iteritems %}
            {% if field == "id" %}
              <tr class="filterTable">
                <td class="filterTable">{{ field }}</td>
                <td class="filterTable">
                  <label for="{{ field }}_start">From:</label>
                  <input type="number" id="{{ field }}_start">
                </td>
                <td class="filterTable">
                  <label for="{{ field }}_end">To:</label>
                  <input type="number" id="{{ field }}_end">
                </td>
            </tr>
            {% endif %}
          {% endfor %}
          {% for field, datatype in fielddata.iteritems %}
            {% if field != "id" %}
              {% if datatype in "currency float" %}
              <tr class="filterTable">
                <td class="filterTable">{{ field }}</td>
                <td class="filterTable">
                  <label for="{{ field }}_start">From:</label>
                  <input type="number" id="{{ field }}_start">
                </td>
                <td class="filterTable">
                  <label for="{{ field }}_end">To:</label>
                  <input type="number" id="{{ field }}_end">
                </td>
              </tr>
              {% elif datatype in "date datetime" %}
              <tr class="filterTable">
                <td class="filterTable">{{ field }}</td>
                <td class="filterTable">
                  <label for="{{ field }}_start">From:</label>
                  <input type="date" maxlength="10" id="{{ field }}_start">
                </td>
                <td class="filterTable">
                  <label for="{{ field }}_end">To:</label>
                  <input type="date" maxlength="10" id="{{ field }}_end">
                </td>
              </tr>
              {% elif datatype == "integer" %}
              <tr class="filterTable">
                <td class="filterTable">{{ field }}</td>
                <td class="filterTable">
                  <label for="{{ field }}_start">From:</label>
                  <input type="number" id="{{ field }}_start">
                </td>
                <td class="filterTable">
                  <label for="{{ field }}_end">To:</label>
                  <input type="number" id="{{ field }}_end">
                </td>
              </tr>
              {% endif %}
            {% endif %}
          {% endfor %}
        </table>
      </td>
    </tr>
    {% endif %}

    {% if fieldtype.string %}
    <tr class="filtering">
      <td id="stringForm">
        <table class="filtering">
          <thead>
            <tr>
              <th class="filterTable filterrow1">Field Name</th>
              <th class="filterTable filterrow2">Field Filter Condition</th>
            </tr>
          </thead>
          {% for field, datatype in fielddata.iteritems %}
            {% if datatype in "string email phone text url" %}
            <tr class="filterTable">
              <td class="filterTable"><label for="{{ field }}_filter">{{ field }}</label></td>
              <td class="filterTable"><input type="text" id="{{ field }}_filter"></td>
            </tr>
            {% endif %}
          {% endfor %}
        </table>
      </td>
    </tr>
    {% endif %}

    {% if fieldtype.boolean %}
    <tr>
      <td class="filtering" id="booleanForm">
        <table class="filterTable">
          <thead>
            <tr>
              <th class="filterTable filterrow1">Field Name</th>
              <th class="filterTable filterrow2">Field Filter Condition</th>
            </tr>
          </thead>
          {% for field, datatype in fielddata.iteritems %}
            {% if datatype == "boolean" %}
            <tr class="filterTable">
              <td class="filterTable">
                {{ field }}
              </td>
              <td class="filterTable">
                <label for="{{ field }}_true">true</label>
                <input type="checkbox" id="{{ field }}_true">
                <label for="{{ field }}_false">false}</label>
                <input type="checkbox" id="{{ field }}_false">
              </td>
            </tr>
            {% endif %}
          {% endfor %}
        </table>
      </td>
    </tr>
    {% endif %}

    <tr class="filtering">
      <td class="filtering"><input type="submit" value="Generate Leads File"></td>
    </tr>

  </form>
</table>
</div>


{% endblock %}

