body {
    background-color: lightblue;
}

select#fields {
    width: 100%;
}

div.warning {
    text-align: left;
    color: lightblue;
}

table {
    border-collapse: collapse;
}

th {
    background-color: darkblue;
    color: white;
}

td {
    font-size: 0.75em;
}

th, td {
    padding: 0px, 10px;
    border: 2px solid black;
}

table, th, td {
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
}



