body {
    background-color: lightblue;
}

select#fields {
    width: 100%;
}

div.warning {
    text-align: left;
    color: lightblue;
}

.lead_num {
    color: red;
}

/*********************************************
  CSS for the Lead Display Table
**********************************************/

table.pageTable {
    border-collapse: collapse;
}

th.pageTable {
    background-color: darkblue;
    color: white;
}

td.pageTable {
    font-size: 0.75em;
}

th.pageTable, td.pageTable {
    padding: 0px, 10px;
    border: 2px solid black;
}

table.pageTable, th.pageTable, td.pageTable {
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
}

/*********************************************
  CSS for the Filter Form Table
**********************************************/

table.filterTable {
    border-collapse: collapse;
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
    width: 80%;
    table-layout: fixed;
}

tr.filterTable {
    width: 100%;
}

th.filterrow1 {
  width: 20%;
}

th.filterrow2 {
  width: 80%;
}

th.filterTable {
    background-color: darkblue;
    color: white;
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
    padding: 5px, 5px, 5px, 5px;
    border-bottom: 2px solid black;
}

td.filterTable {
    font-size: 0.95em;
    text-align: center;
    vertical-align: middle;
    padding: 5px, 5px, 5px, 5px;
    border-bottom: 2px solid black;
}

tr.filterButton {

}

